header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    display: block;
    text-align: center;
    margin: 100px auto;
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  margin: 0 10% 0 10%;
}

.card {
    float: left;
    width: 15%;
    margin: 0;
    padding: 2.5%;
}

.card a {
    text-decoration: none;
}

.card li {
    padding: 0.25em;  
}

.card ul {
    vertical-align: middle;
    list-style: none;

    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    padding: 0.5em 0;
}

.card h3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0.5em 0;
}

/* Colour Configuration */

body {
    background-color: #3E3E3E;
    color: #f0e9dc;
}

body a, body a:visited {
    color: #032C36;
}

.card ul {
    background-color: #f0e9dc;
}

#email h3 {
    background-color: #C2454E;
}

#email a:hover {
   color: #C2454E;
}

#social h3 {
    background-color: #BEB090;
}

#social a:hover {
   color: #BEB090;
}

#dcu h3 {
    background-color: #7BBAC7;
}

#dcu a:hover {
   color: #7BBAC7;
}

#general h3 {
    background-color: #7CBF9E;
}

#general a:hover {
   color: #7CBF9E;
}
