header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    display: block;
    text-align: center;
    margin: 100px auto;
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#search {
    text-align: center;
}

#searchbox {
    background: #bccae2;
    border: 0;
    width: 36%;
    margin: 2.5%;
    padding: 0.5em 1em;
}

/* Placeholder text formatting */
::-webkit-input-placeholder {
  color: #24262b;
  font-family: 'Roboto', sans-serif;
}

:-moz-placeholder {
  color: #24262b;
  font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
  color: #24262b;
  font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {
  color: #24262b;
  font-family: 'Roboto', sans-serif;
}
/* End */

#wrapper {
  display: inline-block;
  float: left;
  width: 80%;
  padding: 0 10%;
  margin: 0;
}

.card {
    float: left;
    width: 20%;
    margin: 0;
    padding: 2.5%;
}

.card a {
    text-decoration: none;
}

.card li {
    padding: 0.25em;
}

.card ul {
    vertical-align: middle;
    list-style: none;

    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    padding: 0.5em 0;
}

.card h3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0.5em 0;
}

/* Colour Configuration */

body {
    background-color: #24262b;
    color: #FFF;
}

body a, body a:visited {
    color: #24262b;
}

.card ul {
    background-color: #FFF;
}

#email h3 {
    background-color: #843c56;
}

#email a:hover {
   color: #843c56;
}

#social h3 {
    background-color: #a87458;
}

#social a:hover {
   color: #a87458;
}

#dcu h3 {
    background-color: #4a6aa3;
}

#dcu a:hover {
   color: #4a6aa3;
}

#general h3 {
    background-color: #83a86f;
}

#general a:hover {
   color: #83a86f;
}
